{% extends 'base.html' %}
{% load static %}

{% block metatags %}
<title>College Conenct</title>
{% endblock %}

{% block content %}

<div class="container">
    <div class="col">
        <h1 style="font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;">" Welcome to Campus Connect - Connecting and Empowering Futures!"</h1>
        <h3 style="font-style: italic; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; color: royalblue;">Your all-in-one campus platform for networking, learning, and unlocking opportunities. Stay informed, share achievements, and get AI-powered assistance!</h3>
        <p class="text-justify">
            <br>
            🚀 Campus Connect is a dynamic platform designed to bridge the gap between students, faculty, and opportunities. Whether you want to connect with peers, explore career paths, or get instant AI-driven support, Campus Connect has you covered!
            <br>
            <br>
            🔹 Explore Opportunities – Stay updated on internships, job postings, and campus events.
            <br>
            <br>
            🔹 Engage & Network – Share achievements, post queries, and interact with faculty and fellow students.
            <br>
            <br>
            🔹 Learn & Grow – Access valuable resources, mentorship programs, and knowledge-sharing communities.
            <br>
            <br>
            
            🔹 AI-Powered Assistance – Get instant answers to academic queries, book summaries, and more with our smart chatbot!
            <br>
            <br>
            
            ✨ Join us and enhance your college experience with technology-driven learning and networking! 🎓💡
           

            <br>
            <br>
            Become a part of community where students and staff come together to foster a culture of learning and collaboration. 

            <br>
            <br>
            Ready to Get Started?

            <br>
            <br>
            Signing up is  easy. Join today .

            <br>
            
        </p>
    </div>
</div>





{% endblock %}